h1 SEARCH FRIENDS
br
h2 friendsAccepted
ul
 each friendAccepted in friendsAccepted
  li
   form(action='/user/friends/unfriend', method='POST')
    span=friendAccepted.fullname
    button(name='id', value=friendAccepted.receiver) UNFRIEND
br
h2 friendsReq
ul
 each friendReq in friendsReq
  li
   form(action='/user/friends/accepted', method='POST')
    span=friendReq.fullname
    button(name='id', value=friendReq.sender) ACCEPT
br
h2 friendsReqted
ul
 each friendReqted in friendsReqted
  li
   form(action='/user/friends/stop', method='POST')
    span=friendReqted.fullname
    button(name='id', value=friendReqted.receiver) STOP 
br
h2 friends
ul
 each friend in friends
  li
   form(action='/user/friends/requested', method='POST')
    span=friend.fullname
    button(name='id', value=friend.id) SEND REQUEST
